body{
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*--------------------HEADER-SECTION-----------------------------*/

header{
    width: 100%;
    
    background-image: linear-gradient(rgba(4, 4, 4, 0.949),rgba(6, 6, 6, 0.365),rgba(2, 2, 2, 0.867)), url("image/IN-en-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size:cover;
    position: relative;
    padding-top: .5rem;
    padding-bottom: 8.75rem;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
@media (min-width: 992px) and (max-width: 1280px) and (orientation: landscape),
       (min-width: 1366px) and (max-width: 1366px) and (orientation: portrait) {
    header {
        background-size: 150%; 
    }
}

.logo{
   padding-left: 2.3rem;
  
   padding-right: 3em;
    
    align-items: start;
    

}
.text{
      width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.text svg{
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .text svg {
       
        width: 70%; 
        height: auto;
    }
    .logo {
        padding-left:0; 
        padding-right: 0; 
    }
    #language_selector span {
        display: none;
    }
    .home-intro{
        margin-top: 3em !important;
    }
    #signIn{
        margin-right: 0 !important;
    }
    .intro-head{
        font-size: 1.8rem !important;
    }
    .intro-para1{
        font-size: 1rem !important;
    }
    .intro-para2{
        font-size: 1.2rem !important;
    }
    .reg-section form .input_email label{
        left: 45% !important;
        top: 50% !important;
    }
}

.signIn_section{
   
   padding-top: 1em;
   padding-bottom: 1em;
     height: 100px;
     flex-wrap: wrap;
    
}
#form_section{
  
    display: flex; 
}

@media(max-width:280px){
   .signIn_section{
    height: 150px;
   }
   #form_section{
    margin-top: 5em;
    
   }
   .reg-section .form-control{
    width: 90% !important;
   }
   .reg-section form .input_email label{
    left: 18% !important;
    top: 50% !important;
   }
   .error_message{
    left: 20px !important;
   }

}

.dropdown{
   
    display: inline-block;
    
}
.lang-icon{
    margin-right: 5px;
}
#language_selector{
    width: auto;
    border-radius: 0.25rem;
    cursor: pointer;
    background:#aba8a81a;
    backdrop-filter: opacity(0%);
    border:1px solid #767373;
    line-height: 1.15rem;
    height: 1.9em;
    font-size: 1rem;
    padding-bottom: 1.5em;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    margin-right: 1.5em;
    
}
#language_selector:focus{
    
    
    border-radius: 0.25rem;
    box-shadow: 0 0 0 2px #030303,0 0 0 4px #f8f6f6;
   
}
.dropdown-menu.dropdown-menu-wide {
    min-width: 100%;
    text-align: center;
} 
#lng-drop1:hover{
    background-color: #0256f1;
    color: aliceblue;
}

#lng-drop2:hover{
    background-color: #0256f1;
    color: aliceblue;
}
#signIn{
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1.5rem;
    text-decoration: none;
    width: 6em;
    font-size: 0.875rem;
    font-weight: 500;
    min-height: 1.9rem;
    padding: 0.25rem 1rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-align: center;
    margin-right: 3rem;
   display: flex;
}
#signIn:hover{
    background: rgb(180, 6, 15);
}
.home-intro{
   
   text-align: center;
   margin-top: 11.1em;
   margin-left: .7em;
   margin-right: .7em;
}
.intro-head{
    color: #fff;
    font-weight: 900;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 2.8rem;
}
.intro-para1{
    padding-top: .25rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.intro-para2{
    
    font-size: 1.3rem;
    line-height: 1.9;
    padding: auto;
    font-weight: 500;
    color: #fff;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.reg-section .form-control{
    width: 60%;
    padding: 1.8em;
    margin-top: 1em;
    border-radius: 0.25rem;
    background:#0c0c0c99;
    backdrop-filter: opacity(0%);
    border:1px solid #767373;
   color: #f8f6f6;
    height: 1.9em;
    
} 
.input_email{
    position: relative;
} 
.reg-section .form-control:focus{
    background:#0c0c0c99;
    border:1px solid #767373;
    backdrop-filter: opacity(0%);
    border-radius: 0.25rem;
    color: #f8f6f6;
    box-shadow: 0 0 0 2px #030303,0 0 0 4px #f8f6f6;
    outline: none;
}
.reg-section form .input_email label{
    position: absolute;
    left: 45%;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 500;
    top: 50%;
    color: #b6afaf;
    pointer-events: none;
    transition: 0.2s;
    
}
 .input_email .form-control:focus +label,
 .form-control:not(:placeholder-shown)+label
 {
    transform:  translateY(-18px);
    font-size: .8em;
}
div .getStart-btn-div{
    
    padding-left: 0;
}
.getStart-btn{
    width:auto;
    border-radius: 0.25rem;
    border: 0;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: .7em;
    height: 2.2em;
}
.getStart-btn:hover{
    background: rgb(180, 6, 15);
}
.right-arrow{
    width: 1.4em;
    height: .8em;
}
.error_message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    position: absolute;
    bottom: -40px;
   
    width: 60%;
    padding: 1em;
}
@media screen and (min-width:280px) and (max-width:550px) {
    
    .reg-section form .input_email label{
        left: 18% !important;
        top: 46% !important;
    }
    .reg-section .form-control{
        width: 80%;
    }
    .faq-section .accordion-button::after{
        right: 20px !important;
    }
    .error_message{
        bottom: -40px;
        left: 42px;
    }
    .getStart-btn{
        margin-top: 1.5em;
    }
}



/*-----------------------------ENJOY/DOWNLOAD/STREAM/KIDS-SECTION-----------------------------*/

.enjoy-section, .stream-section{
   
    border-top: 8px solid #201f1f;
    border-bottom: 8px solid #201f1f;
}
.section-h1{
    font-size: 3rem;
    font-weight: 900;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.section-para{
    font-size: 1.5rem;
    font-weight: 400;
}

.video-TV{
    width: 100%;
    height: 100%;
    max-width: 70%;
    max-height: 55%;
    top: 21%;
    left: 15%;
    object-fit: cover;
    overflow: hidden;
   
}
.tv img{
    z-index: 10;
    position: relative;
}
.stream-video video{
    width: 100%;
    height: 100%;
    max-width: 57%;
    max-height: 56%;
    top: 8%;
    left: 21%;
    object-fit: cover;
    overflow: hidden;
    
}
.stream-video img{
    z-index: 10;
    position: relative;
}


/*-----------------------FAQ-SECTION---------------*/

.faq-section{
    padding-bottom: 5em;
    border-top: 8px solid #201f1f;
    border-bottom: 8px solid #201f1f;
}
.faq-section .faq-header{
    font-size: 3rem;
    font-weight: 900;
    line-height: 2.875rem;
    margin-bottom: 1em;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.accordion-item .accordion-button{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 2em;
    height: 3.5em;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.accordion {
	max-width: 90%;
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    --bs-accordion-color: rgb(255, 255, 255) !important;
    --bs-accordion-bg: rgb(45, 45,45) !important;
    --bs-accordion-border-color:none !important;
    --bs-accordion-border-radius:none !important;
}
.accordion .accordion-body{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.faq-section .accordion-item:first-of-type .accordion-button{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.faq-section .accordion-button:focus{
    border: none;
    box-shadow: none;
}
.faq-section .accordion-button:hover{
    background-color: rgb(65, 65, 65);
}
.faq-section .accordion-button:not(.collapsed){
    background-color: rgb(45, 45,45);
    color: rgb(255, 255, 255);
}
.faq-section .accordion-button::after{
    content: "+";
    background-image: none;
    position: absolute;
    height: 50px;
    font-size: 3.125rem;
    font-weight: lighter;
    top: 5px;
    right: 45px;
}
.faq-section .accordion-button:not(.collapsed)::after{
    background-image: none;
    transform: none;
    content: "\00d7";
}
.reg-section h3{
    font-size: 1.3rem;
   
}


.faq-section .accordion-button:not(.collapsed):hover{
    background-color: rgb(65, 65, 65);
}


/*-------------------------FOOTER-----------------------------*/

footer p, footer a{
    color: rgb(255, 255, 255, 0.7);
    font-size: 0.975rem;
    font-weight: 400;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    
}
footer ul{
    padding-left: 0;
}
footer li{
    list-style-type: none;
}


#language_selector2{
    width: auto;
    border-radius: 0.25rem;
    cursor: pointer;
    background:#aba8a81a;
    backdrop-filter: opacity(0%);
    border:1px solid #767373;
    line-height: 1.15rem;
    height: 1.9em;
    font-size: 1rem;
    padding-bottom: 1.5em;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    margin-right: 1.5em;
    
}
#language_selector2:focus{
    
    
    border-radius: 0.25rem;
    box-shadow: 0 0 0 2px #030303,0 0 0 4px #f8f6f6;
   
}